### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin/

### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
!lib/
!lib/**/*.jar

### Build directories ###
build/
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
